@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
:root{
    --primary-color:#37193B;
    --second-color:#fff;
    --third-color:#E75A7A;    
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  color: #626262;  
  font-family: 'Montserrat', sans-serif;
}
a, li{
  text-decoration: none;
  list-style-type: none;
  color: #E75A7A;
  display: inline-block;
}
img{
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
h2{
  font-family: 'Poppins', sans-serif;
  margin: 20px 0;
  font-size: 21px;
}
h4{
  font-size: 20px;
  color: var(--second-color);
}
p{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 200;
}
.dock-bar{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;    
  padding: 0 55px;
  background-color: var(--second-color);
}
.midias-socias{
  font-size: 23px;
  position: relative;
  top: 5px;    
}
.midias-socias i{
  font-size: 23px;
  margin: 0 5px;    
}
.nav-wrapper{
  background: var(--primary-color);
  padding: 0 50px;
  height: 50px;        
}
.nav-wrapper{
  background: var(--primary-color);
  padding: 0 50px;
  height: 50px;        
}
.nav-wrapper .menu{
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;    
}
.nav-wrapper .menu li{
  margin: 0 5px; 
  position: relative;
}
.nav-wrapper .menu a{
  display: block;
  margin: 5px 5px;
  padding: 6px 0;
  text-transform: uppercase;   
  font-size: 12px;
  font-weight: 500; 
  border: 2px solid transparent; 
}
.nav-wrapper .menu a:hover{
  border-bottom: 2px dotted var(--third-color);
}