@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
:root{
    --primary-color:#37193B;
    --second-color:#fff;
    --third-color:#E75A7A;    
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  color: #626262;  
  font-family: 'Montserrat', sans-serif;
}
a, li{
  text-decoration: none;
  list-style-type: none;
  color: #E75A7A;
  display: inline-block;
}
img{
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
h2{
  font-family: 'Poppins', sans-serif;
  margin: 20px 0;
  font-size: 21px;
}
h4{
  font-size: 20px;
  color: var(--second-color);
}
p{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 200;
}
.dock-bar{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;    
  padding: 0 55px;
  background-color: var(--second-color);
}
.midias-socias{
  font-size: 23px;
  position: relative;
  top: 5px;    
}
.midias-socias i{
  font-size: 23px;
  margin: 0 5px;    
}
.nav-wrapper{
  background: var(--primary-color);
  padding: 0 50px;
  height: 50px;        
}
.nav-wrapper{
  background: var(--primary-color);
  padding: 0 50px;
  height: 50px;        
}
.nav-wrapper .menu{
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;    
}
.nav-wrapper .menu li{
  margin: 0 5px; 
  position: relative;
}
.nav-wrapper .menu a{
  display: block;
  margin: 5px 5px;
  padding: 6px 0;
  text-transform: uppercase;   
  font-size: 12px;
  font-weight: 500; 
  border: 2px solid transparent; 
}
.nav-wrapper .menu a:hover{
  border-bottom: 2px dotted var(--third-color);
}
/*submenu*/
.sub-menu{      
  background: var(--primary-color);
  position: absolute;
  left: -2px;
  display: none;       
  width: 131px;
  z-index: 1
}
.menu a.item::after{
  content: "⌵";
  display: block;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 8px;
  right: -6px;        
} 
.sub-menu .arrow-downM::after{
  content: "⌵";
  display: block;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 2px;
  right: 32px;
}
.menu li:hover > ul{
  display: block;
}
.menu .sub-menu li{
  margin: 5px 0!important;      
  padding: 0 10px;     
  width: 100%;    
}
.menu .sub-menu li a{
  padding: 5px 0;   
  margin: 0;
  display: inline-block;    
}

/*icone arrow-down menu*/
.arrow-down{
  font-size: 15px;
  margin-left: 3px;
  position: relative;
  top: 1px;
}
/*sub-menu-M*/
.sub-menu-M{
  width: 100%;
  position: absolute;
  top: -5px;
  left: 130px;
  background-color: var(--primary-color);
  display:none;    
  padding: 0;
}


.hero{
  position: relative;
}
.slider, .slider1, .slider2, .slider3{
  background-image: url(../src/assets/banner-img.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 393px !important;    
}
.slider1{
  background-image: url(../src/assets/slider1.jpg);    
}
.slider2{
  background-image: url(../src/assets/slider2.jpg);   
}
.slider3{
  background-image: url(../src/assets/slider3.jpg);   
}
.glider-dots{
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
}
.glider-dot{
  background: #37193B!important;
}
.glider-dot:hover{
  background-color: rgba(55, 25, 59, .9);
}
.glider-dot.active{
  border: 2px solid #E75A7A;
}


.s_estilosModerno{  
  width: 100%; 
  padding: 10px;
  display: flex; 
  justify-content: space-between;        
}


.s_estilosModerno p{
  margin: 30px 40px 30px 0;   
  line-height: 1.5; 
}
.s_estilosModerno .s_estiloModerno__btn{
  border: none;
  padding: 8px 12px;
  background-color: #37193B;
  color: #fff;
}
.s_estilosModerno .b_texto{
  max-width: 620px;
  width: 100%;    
  padding: 30px 20px;
}

.s_estilosModerno p{
  margin: 30px 40px 30px 0;   
  line-height: 1.5; 
}
.s_estilosModerno .s_estiloModerno__btn{
  border: none;
  padding: 8px 12px;
  background-color: #37193B;
  color: #fff;
}



.experiencia__info{
  max-width: 610px;
  width: 100%;
  margin: 0 auto;
  color: var(--second-color);
  text-align: center; 
  padding: 0 10px;    
}
.experience__desc{    
  text-align: center;
  line-height: 1.5;
  padding: 20px 15px;
}
.depo-carrosel{    
  max-width: 700px;
  margin: 0 auto;
}
.depoimentos__info{
  max-width: 100%;
  margin: auto;
  color: #fff;
  text-align: center;   
}
.depoimentos__texto{
  position: relative;
  padding-top: 20px;
}
.galeria-home__titulo{
  text-align: center; 
  margin: 30px 0;   
}
.galeria-home__cards{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0 150px;
}
.galeria-home__card{
  max-width: 222px;
  width: 100%;
  overflow: hidden;
  margin: 10px;    
  transition: all .5s linear;
}
.galeria-home__card > figure{
  height: 100%;
  background-color: black;
}
.galeria-home__card__img{
  transition: all .3s linear;    
  height: 100%;
}
.galeria-home__card__img:hover{
  transform: scale(1.1);
  transition: all .3s linear;
  cursor: pointer;
}

.profissionais{
  max-width: 1200px;
  width: 100%;
  margin: auto;    
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.profissionais figure{
  width: 180px;  
  margin: 20px;
}
.profissionais figure img{
  height: auto;   
}
.profissionais figure figcaption{
  text-align: center;
  padding: 10px;
  color: #E75A7A;
  font-weight: 500;
}


/*PAGINA CONTATO*/
.btn{
  color: #E75A7A;
  font-weight: 500;
  padding: 8px 15px;
  font-family: 'Poppins', sans-serif;  
  border-radius: 40px;
  border: 1px solid #F59275;
  margin-left: 27px;
}
.btn:hover{    
  color: #fff;
  background: #E75A7A;      
}

.contatoMain{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
.formTitlePromocao{
  padding: 20px;
  max-width: 510px;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
}
.contatoMain__form, .contatoMain-info{      
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
form{
  border: 1px solid rgba(55, 25, 59, 0.21);
  max-width: 510px;
  width: 100%;
  padding: 0 50px 20px;
}
form label{
  margin: 20px 0 5px; 
  display: inline-block;
  color: #37193B;
  font-weight: 500;
  font-family: 'Poppins';
  font-size: 16px;
}
form input{
  display: block;
  padding: 7px;
  width: 100%;
  border: 1px solid #C0C0C0;  
  outline-color: #E75A7A;    
}
form input::placeholder{
  color: #B0AE9E;
}
.btn-form{
  margin:20px 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
.contatoMain__maps{
  max-width: 600px;
  width: 100%;
  max-height: 350px;
}
.contatoMain-info{    
  margin: 40px 0 80px;
}
.contatoMain-info > div{
  background-color: #37193B;
  padding: 18px;
}
.contatoMain-info div:nth-of-type(1){
  max-width: 510px;
  width: 100%;
}
.contatoMain-info div:nth-of-type(2){
  max-width: 600px; 
  width: 100%; 
}
.contatoMain-info h4{
  margin-bottom: 10px;
  color: #E75A7A;
  font-size: 16px;
  font-weight: 500;
}
.contatoMain-info i{
  color: #fff;
  margin-right: 8px;
  font-size: 17px;
  line-height: 1.5;
}
.contatoMain-info > div > p{
  color: #F59275;
  margin-top: 10px;
}
.contatoMain-info a{
  color: #F59275;
  font-family: 'Poppins';
  font-weight: 200;
  margin: 10px 0;
  display: block;
}


/*CABELOOOOOO*/

.introducao__texto{
  text-align: center;
  margin-bottom: 50px;
}
.prevImgCabelo, .prevImgEstetica{
  display: flex;
  justify-content: center;
}
.prevImgCabelo__img{
  margin: 0 20px;
  overflow: hidden;  
  border-radius: 22px;  
}
.prevImgCabelo__img img{    
  transition: all .3s linear;
}
.prevImgCabelo__img img:hover{
  transform: scale(1.1);    
}
.estetica-servico__center, .maquiagem-servico__center, .cabelo-servico__center{
  max-width: 950px;
  width: 100%;
  margin: 70px auto;
}
.servico{
  display: flex;
  max-width: 1000px;   
  margin: auto;    
}
.servico__titulo{
  color: #000;
}
.servico__lista{
  width: 100%;
  display: flex;  
  align-items: center;  
  font-family: 'Poppins', sans-serif;   
  margin-left: 27px;   
}
.servico__lista-coluna + .servico__lista-coluna{
  margin: 0 50px;
}
.servico__lista li{
  display: block;  
  color: #000;  
  position: relative;
}
.servico__lista li > .fa-check{
  color: #E75A7A;
  margin-left: 5px;
}
.btn{
  color: #E75A7A;
  font-weight: 500;
  padding: 8px 15px;
  font-family: 'Poppins', sans-serif;  
  border-radius: 40px;
  border: 1px solid #F59275;
  margin-left: 27px;
}
.btn:hover{    
  color: #fff;
  background: #E75A7A;      
}
/*Fim PG cabelo*/




/*FOOTER*/
footer{
  background: var(--primary-color);
  min-height: 301px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-center{
  max-width: var(--s-center);   
  width: 100%;     
  display: flex;
  justify-content: space-around;
  padding: 50px 30px;
}
.footer-center__logo{
  text-align: center;
}
.footer-center__logo img{
  width: 183px;
  margin: auto;
}
.footer-contato{    
  color: var(--second-color); 
  line-height: 1.8;
}
.footer-contato__endereco{
  font-style: initial
}