.container{
    max-width: 1200px;
    width: 100%;
    margin: 46px auto 0;
    padding: 10px;
    display: flex; 
    justify-content: space-between;       
}
.column{
    flex-direction: column;
}
.column-reverse{
    flex-direction: column-reverse;
    
}
@media only screen and (min-width: 620px) and (max-width:980px){
    .container{       
        padding: 10px;
               
    }
    .b_texto {
        padding: 0 24px;
    }
}